<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>arrow3.png</key>
		<dict>
			<key>x</key>
			<integer>573</integer>
			<key>y</key>
			<integer>720</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>33</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>background2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>800</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>800</integer>
		</dict>
		<key>bar.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>800</integer>
			<key>width</key>
			<integer>440</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>184</integer>
		</dict>
		<key>down_arrow.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>44</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>interval.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>627</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>138</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>options.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>517</integer>
			<key>width</key>
			<integer>450</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>repeat_off.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>808</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>repeat_on.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>718</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>shadow.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>984</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>1</integer>
		</dict>
		<key>sound_off.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>627</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>sound_on.png</key>
		<dict>
			<key>x</key>
			<integer>930</integer>
			<key>y</key>
			<integer>517</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>up_arrow.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>wheel.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>517</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>141.5</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>800</integer>
		</dict>
	</dict>
</dict>
</plist>